{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best news online </title>
        {% endif %}
    </head>
    <body>
        <h1>{{message}}</h1>
        <!-- Business News section  -->
        <h3>Business News</h3>
         <ul>
            <!-- {% for business_sources in business %}
                <li>{{ business_sources.title}}</li>
            {% endfor %} -->
            {{ macro.displaySourceList(business)}}
        </ul>
        <!-- Sport News section  -->
        <h3>Sports News</h3>
         <ul>
            <!-- {% for sports_sources in sports %}
                <li>{{ sports_sources.title}}</li>
            {% endfor %} -->
            {{ macro.displaySourceList(sports)}}
        </ul>
        <!-- Tech News section  -->
        <h3>Technology News</h3>
         <ul>
            <!-- {% for technology_sources in technology %}
                <li>{{ technology_sources.title}}</li>
            {% endfor %} -->
            {{macro.displaySourceList(technology)}}
        </ul>
        <!-- Entertainment News section  -->
        <h3>Entertainment News</h3>
         <ul>
            <!-- {% for entertainment_sources in entertainment %}
                <li>{{ entertainment_sources.title}}</li>
            {% endfor %} -->
            {{macro.displaySourceList(entertainment)}}
        </ul>
    </body>
</html>