<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best news online </title>
        {% endif %}
    </head>
    <body>
        <h1>{{message}}</h1>
        <!-- Business News section  -->
        <h3>Business News</h3>
         <ul>
            {% for business_sources in business %}
                <li>{{ business_sources.title}}</li>
            {% endfor %}
        </ul>
    </body>
</html>